body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

#imageUpload {
  margin-top: 20px;
}

#result {
  margin-top: 50px;
}

/* Tampilan untuk perangkat mobile */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
    margin-top: 30px;
  }

  #imageUpload {
    margin-top: 10px;
  }

  #result {
    margin-top: 30px;
  }
}
